#battlechain {
	margin: 0 60px;
}

.battlechain-header {
	padding-top: 80px;
}

.battlechain-header h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 0.3em 5px;
}

.battlechain-header hr {
	border-bottom: 1px solid #768fb5;
}

.battlechain-stats-container{
	margin: 0 25px;
}

.battlechain-stats-overview h3 {
	font-size: 26px;
}

.battlechain-stats-overview-stat {
	display: inline-block;
	width: 24%;
	text-align: center;
}

.battlechain-stats-overview-stat h4 {
	color: #000;
	font-size: 28px;
	margin: 0.5em 0;
}

.battlechain-stats-overview-stat p {
	font-size: 16px;
	font-stretch: expanded;
	letter-spacing: 1px;
	color: #000;
}

.battle-log {
	margin: 0 25px;
}

.battle {
	margin: 10px 25px;
	color: #fff;
}

.battle h4 {
	font-size: 20px;
	margin: 1.5em 0;
	text-align: center;
}

.win {
	color: #81de96;
	font-weight: bold;
}

.win-cards {
	background-color: #81de96;
}

.loss {
	color: #de8181;
	font-weight: bold;
}

.loss-cards {
	background-color: #de8181;
}

.own-cards {
	width: 45%;
	border-radius: 15px;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
}

.vs {
	width: 9%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-weight: bold;
	color: #e3ac64;
}

.opponent-cards {
	width: 45%;
	border-radius: 15px;
	padding: 5px;
	box-sizing: border-box;
	display: inline-block;
}

.battle-card {
	height: 0;
	width: 12%;
	padding-top: 10%;
	margin-left: 5px;
	margin-right: 5px;
	background-size: 170%;
	background-position: center 15%;
	border-radius: 50%;
	display: inline-block;
}

.battle-stat {
	display: inline-block;
	width: 24%;
	text-align: center;
	padding: 25px 0px;
}

.battle-stat p {
	font-size: 18px;
}