.collectionList-container {
	padding: 5px 10px;
	display: inline-block;
	flex: 1;
	vertical-align: top;
}

.collectionList-sort-container {
	padding: 10px 0px;
}

.collectionList-info {
	display: inline-block;
	margin: 0;
	font-size: 17px;
	vertical-align: middle;
}

.collectionList-resultCount {
	margin-right: 10px;
	color: #777;
}

.collectionList-filterCount {
	margin-left: 10px;
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

.collectionList-sort-input {
	display: inline-block;
	float: right;
	vertical-align: middle;
	font-size: 17px;
}

.collectionList-sort-input select {
	margin-left: 5px;
	padding: 3px 1px;
	font-size: 14px;
	outline: none;
}

.collectionList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.collectionList::after {
	content: '';
	flex: auto;
}

.collection-noCards {
	width: 100%;
	text-align: center;
	font-size: 18px;
}

@media (max-width: 750px) {
	.collectionList-filterCount {
		display: inline-block;
	}

	.collectionList-sort-input {
		display: block;
		float: none;
		margin: 10px 0px;
	}
}

@media (max-width: 500px) {
	.collectionList-filterCount {
		display: block;
		margin: 10px 0px;
	}
}