.item-container {
	box-sizing: border-box;
	padding: 20px;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 1px 1px 4px 1px #555;
	transition: box-shadow 0.3s;
	width: 30%;
	cursor: pointer;
	text-align: center;
}

.item-container:hover {
	box-shadow: 1px 1px 8px 1px #555;
}

.item-img {
	width: 40%;
	padding: 10px;
}

.item-description {
	text-align: left;
}

.item-description h2 {
	font-size: 25px;
	margin: 0.3em 0;
}

.price {
	letter-spacing: 2px;
	font-weight: bold;
	margin: 0.3em 0;
}

@media (max-width: 900px) {
	.item-container {
		width: 50%;
	}
}

@media (max-width: 650px) {
	.item-container {
		width: 100%;
	}
}


@media (max-width: 400px) {
	.item-img {
		width: 80%;
	}
}