.collection-list-item-container {
	width: 100%;
}

.collection-list-item {
	display: grid;
	grid-template-columns: 30px 1fr 80px;
	grid-template-rows: 30px;
	justify-content: stretch;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 7px;
	transition: 0.3s;
	cursor: pointer;
	font-size: 15px;
}

.collection-list-item:hover {
	box-shadow: 1px 1px 3px 1px #666;
}

.collection-list-item .center {
	place-self: center;
}

.collection-list-item i.gold {
	color: var(--login-btn);
}

.collection-list-item .name {
	font-size: 20px;
	padding: 0px 5px;
	font-weight: bold;
	line-height: 1.2;
}

.collection-list-item .name.gold {
	color: var(--login-btn);
}

@media (max-width: 750px) {
	.collection-list-item {
		grid-template-columns: 30px 1fr 50px 50px 50px;
		grid-template-rows: 40px;
		font-size: 15px;
	}

	.collection-list-item .name {
		font-size: 16px;
	}
}