.cart {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;
}

.cart-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.cart-content {
	position: fixed;
	left: 50%;
	top: 50%;
	min-width: 70%;
	max-width: 80%;
	min-height: 70%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 15px;
	padding: 20px;
}

.cart-exit {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.cart-exit:hover {
	color: #d43d3d;
}

.cart-content h2 {
	text-align: center;
}

.cart-content p {
	font-size: 19px;
	text-align: center;
}

.cart-clear {
	text-decoration: underline;
	cursor: pointer;
	transition: 0.3s;
}

.cart-clear:hover {
	color: #d43d3d;
}

.cart-table-container {
	padding: 10px;
	box-sizing: border-box;
	height: 40vh;
	overflow-y: auto;
	position: relative;
}

.cart-table-container.summary {
	height: 27vh;
}

.cart-table-container::-webkit-scrollbar {
	width: 5px;
    height: 5px;
	padding: 2px;
	cursor: pointer;
}

.cart-table-container::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 5px;
}

.cart-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cart-table {
	width: 100%;
	border-collapse: collapse;
}

.cart-table th{
	background: var(--navbar-bg);
	color: var(--login-btn);
	font-size: 15px;
	padding: 8px;
}

.cart-table td {
	padding: 4px 7px;
	border: 1px solid #ddd;
}

.cart-table .center {
	text-align: center;
}

.cart-table .right {
	text-align: right;
}

.cart-table .footer {
	font-weight: bold;
}

.cart-remove-item {
	cursor: pointer;
	text-decoration: underline;
	text-align: center;
}

.cart-remove-item:hover {
	color: #d64545;
}

.cart-summary {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.cart-summary p {
	text-align: right;
	line-height: 0.3;
}

.cart-summary button {
	padding: 12px 15px;
	font-size: 15px;
	font-weight: bold;
	vertical-align: middle;
	background: var(--login-btn);
	color: #000;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.cart-summary button:focus {
	outline: none;
}

.cart-summary button:disabled {
	opacity: 0.4;
	cursor: not-allowed;
}

@media (max-width: 700px) {
	.cart-table-container {
		white-space: nowrap;
		overflow-x: auto;
		height: 40vh;
	}
}