.marketList-container {
	padding: 5px 10px;
	display: inline-block;
	flex: 1;
	vertical-align: top;
}

.marketList-sort-container {
	padding: 10px 0px;
}

.marketList-info {
	display: inline-block;
	margin: 0;
	font-size: 17px;
	vertical-align: middle;
}

.marketList-resultCount {
	margin-right: 10px;
	color: #777;
}

.marketList-filterCount {
	margin-left: 10px;
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

.marketList-sort-input {
	display: inline-block;
	float: right;
	padding: 3px 5px;
	font-size: 14px;
	vertical-align: middle;
}

.marketList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.marketList::after {
	content: '';
	flex: auto;
}

.market-noCards {
	width: 100%;
	text-align: center;
	font-size: 18px;
}

@media (max-width: 750px) {
	.marketList-filterCount {
		display: inline-block;
	}

	.marketList-sort-input {
		display: block;
		float: none;
		margin: 10px 0px;
	}
}

@media (max-width: 500px) {
	.marketList-filterCount {
		display: block;
		margin: 10px 0px;
	}
}