.list-container {
	padding: 5px 10px;
	display: inline-block;
	flex: 1;
	vertical-align: top;
}

.list-sort-container {
	padding: 10px 0px;
}

.list-info {
	display: inline-block;
	margin: 0;
	font-size: 17px;
	vertical-align: middle;
}

.list-info .resultCount {
	margin-right: 10px;
	color: #777;
}

.list-info .filterCount {
	margin-left: 10px;
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

.list-display {
	margin-right: 15px;
}

.list-display i {
	padding: 2px 6px;
	font-size: 17px;
	color: #ccc;
	cursor: pointer;
	transition: 0.3s;
}

.list-display i.active {
	color: #000;
}

.list-display i:first-child {
	border-right: 1px solid #888;
}

.list-sort-input {
	display: inline-block;
	float: right;
	vertical-align: middle;
	font-size: 17px;
}

.list-sort-input select {
	margin-left: 5px;
	padding: 4px 2px;
	font-size: 14px;
	outline: none;
	font-family: Source Sans Pro;
}

.list-item.header {
	width: 100%;
	cursor: default;
	pointer-events: none;
	color: #888;
}

.list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.list::after {
	content: '';
	flex: auto;
}

.list .noCards {
	width: 100%;
	text-align: center;
	font-size: 18px;
}

@media (max-width: 750px) {
	.list-info .filterCount {
		display: inline-block;
	}

	.list-sort-input {
		display: block;
		float: none;
		margin: 10px 0px;
	}

	.list-sort-dropdown select {
		margin-left: 10px;
	}

	.list-sort-dropdown {
		float: right;
	}

	.list-item.header {
		font-size: 13px;
	}
}

@media (max-width: 500px) {
	.list-info .filterCount {
		display: block;
		margin: 10px 0px;
	}

	.list-sort-dropdown {
		float: none;
		display: block;
		padding: 10px 0px;
	}
}