.marketList-container {
	padding: 5px 10px;
	display: inline-block;
	flex: 1;
	vertical-align: top;
}

.marketList-sort-container {
	padding: 10px 0px;
}

.marketList-info {
	display: inline-block;
	margin: 0;
	font-size: 17px;
	vertical-align: middle;
}

.marketList-resultCount {
	margin-right: 10px;
	color: #777;
}

.marketList-filterCount {
	margin-left: 10px;
	text-decoration: underline;
	cursor: pointer;
	display: none;
}

.marketList-sort-input {
	display: inline-block;
	float: right;
	vertical-align: middle;
	font-size: 17px;
}

.marketList-sort-input select {
	margin-left: 5px;
	padding: 3px 1px;
	font-size: 14px;
	outline: none;
}

.marketList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

.marketList::after {
	content: '';
	flex: auto;
}

.loader-container {
  	position: absolute;
  	left: 50%;
  	transform: translateX(-50%);
  	margin-top: 50px;
}

.loader {
	display: block;
	border: 12px solid #eee; /* Light grey */
  	border-top: 12px solid var(--navbar-bg); /* Blue */
  	border-radius: 50%;
  	width: 80px;
  	height: 80px;
  	animation: spin 2s linear infinite;
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}

.market-noCards {
	width: 100%;
	text-align: center;
	font-size: 18px;
}

@media (max-width: 750px) {
	.marketList-filterCount {
		display: inline-block;
	}

	.marketList-sort-input {
		display: block;
		float: none;
		margin: 10px 0px;
	}
}

@media (max-width: 500px) {
	.marketList-filterCount {
		display: block;
		margin: 10px 0px;
	}
}