.card {
	display: block;
	width: 19%;
	padding: 15px;
	padding-bottom: 40px;
	border: none;
	box-sizing: border-box;
	position: relative;
}

.card-img {
	width: 100%;
	box-shadow: 1px 1px 4px 2px #444;
	cursor: pointer;
	transition: 0.3s;
}

.card-img:hover {
	box-shadow: 2px 2px 5px 3px #444;
}

.card-img.gold {
	background: var(--login-btn);
}

.card-img.black {
	background: #220433;
}

.card-img.purple {
	background: #5c1082;
}

.card-img.red {
	background: #5c0606;
}

.card-img.green {
	background: #065c10;
}

.card-img.blue {
	background: #136aa8;
}

.card-img.grey {
	background: #a9b1b8;
}

.card-img.white {
	background: #ebeff2;
}

.card-qty {
	padding: 10px;
	background: var(--navbar-bg);
	border: 2px solid var(--login-btn);
	border-radius: 15px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	position: absolute;
	top: 5px;
	right: 5px;
	box-shadow: 1px 1px 4px 2px #444;
}

.card-price {
	text-align: center;
	padding: 6px 10px;
	background: var(--navbar-bg);
	border: 2px solid var(--login-btn);
	border-radius: 15px;
	font-size: 14px;
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 65%;
	transform: translate(-50%, -10px);
	box-shadow: 1px 1px 4px 2px #444;
}

@media (max-width: 1300px) {
	.card {
		width: 24%;
	}
}

@media (max-width: 1200px) {
	.card {
		width: 33%;
		padding: 10px;
		padding-bottom: 30px;
	}
}

@media (max-width: 575px) {
	.card {
		width: 49%;
		padding: 5px;
		padding-bottom: 30px;
	}
}