.market-cardModal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;
}

.market-cardModal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.market-cardModal-content {
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	background: #fff;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.market-cardModal-exit {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.market-cardModal-exit:hover {
	color: #d43d3d;
}

.market-cardModal-content h2 {
	text-align: center;
	width: 100%;
}

.market-cardModal-img-container {
	padding: 10px;
	box-sizing: border-box;
	vertical-align: top;
}

.market-cardModal-img {
	height: 55vh;
}

.market-cardModal-info-container {
	flex: 1;
	max-width: 100%;
}

.market-cardModal-panel-header {
	display: inline-block;
	margin: 8px 0px 0px 15px;
	padding: 8px 4px;
	cursor: pointer;
	transition: 0.3s;
}

.market-cardModal-panel-header:hover {
	color: #000;
}

.market-cardModal-panel-header {
	color: #aaa;
}

.market-cardModal-panel-header.activePanel {
	color: #000;
}

.market-cardModal-panel-small-container {
	display: none;
}

.market-cardModal-panel-small {
	font-size: 15px;
	padding: 4px;
	font-family: inherit;
	outline: none;
	margin-left: 5px;
}

.market-cardModal-multiselect h4 {
	margin: 0.7em 0px;
	font-size: 18px;
}

.market-cardModal-multiselect h4 span {
	color: red;
	margin-left: 3px;
}

.market-cardModal-multiselect span {
	margin-left: 10px;
}

.market-cardModal-multiselect input {
	font-size: 15px;
	transition: 0.3s;
}

.market-cardModal-multiselect label {
	font-size: 17px;
	padding: 4px 8px;
}

.multiSelect-input {
	width: 155px;
	border: none;
	border-bottom: 1px solid var(--navbar-bg);
	outline: none;
}

.multiSelect-input:focus {
	border-bottom: 1px solid var(--login-btn);
}

.market-cardModal-multiselect #maxbcx {
	margin-left: 10px;
}

.market-cardModal-multiselect #selectCount {
	margin-top: 10px;
}

.market-cardModal-multiselect button {
	display: block;
	margin: 10px 0px;
	padding: 8px 14px;
	font-weight: bold;
	outline: none;
	border-radius: 10px;
	background: var(--login-btn);
	border: none;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.3s;
}

.market-cardModal-multiselect button:hover {
	opacity: 1;
}

.loader-modal-container {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.loader-modal {
	display: block;
	border: 8px solid #eee; /* Light grey */
  	border-top: 8px solid var(--navbar-bg); /* Blue */
  	border-radius: 50%;
  	width: 50px;
  	height: 50px;
  	animation: spin 2s linear infinite;
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}

.market-cardModal-table-container {
	padding: 10px;
	box-sizing: border-box;
	height: 50vh;
	overflow-y: auto;
	position: relative;
}

.market-cardModal-table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	padding: 2px;
	cursor: pointer;
}

.market-cardModal-table-container::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 5px;
}

.market-cardModal-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.market-cardModal-table {
	width: 100%;
	border-collapse: collapse;
}

.market-cardModal-table-header {
	background: var(--navbar-bg);
	color: var(--login-btn);
	font-weight: bold;
	font-size: 18px;
	border: none;
}

.market-cardModal-table-header th{
	padding: 7px 0px;
}

.market-cardModal-table-sortIcon {
	margin-left: 5px;
	font-size: 10px;
}

.market-cardModal-table-data tr {
	border-top: 1px solid #ccc;
}

.market-cardModal-table-data td{
	padding: 4px 7px;
	border: 1px solid #ddd;
}

.market-cardModal-table-add {
	text-align: center;
}

.market-cardModal-table-add input {
	cursor: pointer;
}

.market-cardModal-table-data-seller {
	text-align: center;
}

.market-cardModal-table-data-uid {
	text-align: right;
}

.market-cardModal-table-data-lvl {
	text-align: center;
}

.market-cardModal-table-data-price {
	text-align: center;
}

.market-cardModal-addToCart {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
}

.market-cardModal-addToCart-btn {
	display: inline-block;
	margin-left: 15px;
	padding: 10px 10px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	background: var(--login-btn);
	color: #000;
	border: 2px solid var(--login-btn);
	border-radius: 10px;
	cursor: pointer;
}

.market-cardModal-addToCart-btn:focus {
	outline: none;
}

.market-cardModal-addToCart-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.market-cardModal-clearSelected-btn {
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	border: 2px solid var(--login-btn);
	color: #000;
	background: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.market-cardModal-clearSelected-btn:hover {
	background: var(--login-btn);
}

.market-cardModal-clearSelected-btn:focus {
	outline: none;
}

.market-cardModal-clearSelected-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (max-width: 1100px) {
	.market-cardModal-img-container {
		display: none;
	}
}

@media (max-width: 890px) {
	.market-cardModal-table-container {
		white-space: nowrap;
		overflow-x: auto;
		height: 40vh;
	}

	.market-cardModal-addToCart-btn {
		display: block;
		margin: 5px 0px;
	}

	.market-cardModal-clearSelected-btn {
		display: block;
		margin: 5px 0px;
	}

	.market-cardModal-addToCart {
		left: 10px;
	}
}

@media (max-width: 750px) {
	.market-cardModal-panel-header {
		display: none;
	}

	.market-cardModal-panel-small-container {
		display: block;
	}
}