.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.modal-content {
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	background: #fff;
	border-radius: 15px;
}

.modal-exit {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.modal-exit:hover {
	color: #d43d3d;
}

.modal-content h2 {
	text-align: center;
	width: 100%;
	font-size: 26px;
}

.modal-content h2.gold {
	color: var(--login-btn);
}

.modal-flex {
	display: flex;
	flex-wrap: nowrap;
	align-content: flex-start;
}

.modal-img-container {
	padding: 10px;
	box-sizing: border-box;
	vertical-align: top;
}

.modal-img {
	height: 55vh;
}

.modal-info-container {
	flex: 1;
	max-width: 100%;
}

.modal-panel-header {
	display: inline-block;
	margin: 8px 0px 0px 10px;
	padding: 6px 14px;
	cursor: pointer;
	transition: 0.5s;
	color: #888;
	border-radius: 15px;
}

.modal-panel-header:hover {
	color: #fff;
	background: var(--navbar-bg);
	opacity: 0.6;
}

.modal-panel-header.activePanel {
	color: var(--login-btn);
	background: var(--navbar-bg);
	pointer-events: none;
}

.modal-panel-small-container {
	display: none;
}

.modal-panel-small {
	font-size: 15px;
	padding: 4px;
	font-family: inherit;
	outline: none;
	margin-left: 5px;
}

.modal-multiselect .multiselect-half {
	width: 50%;
	display: inline-block;
	padding: 10px 20px;
	box-sizing: border-box;
}

.modal-multiselect .multiselect-half.left {
	border-right: 1px solid #ccc;
}

.modal-multiselect h4 {
	margin: 0.7em 0px;
	font-size: 18px;
	text-align: center;
}

.modal-multiselect p {
	margin: 0.7em 0px;
	font-size: 16px;
	text-align: center;
	white-space: normal;
}

.multiSelect-input {
	font-family: inherit;
	font-size: 16px;
	transition: 0.3s;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--navbar-bg);
	outline: none;
}

.multiSelect-input:focus {
	border-bottom: 1px solid var(--login-btn);
}

.modal-multiselect button {
	display: block;
	margin: 10px auto;
	padding: 8px 0px;
	width: 130px;
	font-weight: bold;
	outline: none;
	border-radius: 10px;
	background: var(--login-btn);
	border: none;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.3s;
}

.modal-multiselect button:hover {
	opacity: 1;
}

.modal-table-container {
	padding: 10px;
	box-sizing: border-box;
	height: 50vh;
	overflow-y: auto;
	position: relative;
}

.modal-table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	padding: 2px;
	cursor: pointer;
}

.modal-table-container::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 5px;
}

.modal-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.modal-table-container h3.summonerStat {
	font-size: 19px;
	font-weight: bold;
	margin: 10px 0;
}

.modal-table {
	width: 100%;
	border-collapse: collapse;
}

.modal-table thead {
	background: var(--navbar-bg);
	color: var(--login-btn);
	font-weight: bold;
	font-size: 18px;
	border: none;
}

.modal-table th{
	padding: 7px 10px;
}

.modal-table-sortIcon {
	margin-left: 5px;
	font-size: 10px;
}

.modal-table tr {
	border-top: 1px solid #ccc;
}

.modal-table td{
	padding: 4px 7px;
	border: 1px solid #ddd;
}

.modal-table input {
	cursor: pointer;
}

.modal-table .left {
	text-align: left;
}

.modal-table .center {
	text-align: center;
}

.modal-table .right {
	text-align: right;
}

.modal-stats span {
	font-weight: bold;
	display: inline-block;
	padding: 8px 15px;
	font-size: 17px;
}

.date-container {
	padding: 5px 10px;
}

.date-container span {
	vertical-align: middle;
}

.date-selector {
	padding: 5px 10px;
	margin: 0px 5px;
	font-weight: bold;
	font-size: 18px;
	color: #888;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.date-selector.active {
	background: #ccc;
	color: var(--navbar-bg);
	cursor: default;
	pointer-events: none;
}

.date-selector:hover {
	color: #fff;
	background: var(--navbar-bg);
	opacity: 0.4;
}

.canvas-container {
	max-width: 100%;
	height: 90%;
}

.modal-summary {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
}

.modal-summary button {
	display: inline-block;
	margin-left: 10px;
	padding: 10px 10px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	border-radius: 10px;
	border: 2px solid var(--login-btn);
	cursor: pointer;
	transition: 0.3s
}

.modal-summary button:focus {
	outline: none;
}

.modal-summary button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.modal-action-btn {
	background: var(--login-btn);
	color: #000;
}

.modal-clearSelected-btn {
	color: #000;
	background: none;
}

.modal-clearSelected-btn:hover {
	background: var(--login-btn);
}

@media (max-width: 1300px) {
	.modal-img-container {
		display: none;
	}

	.modal-flex {
		display: block;
	}
}

@media (max-width: 930px) {
	.modal-table-container {
		white-space: nowrap;
		overflow-x: auto;
	}	
}

@media (max-width: 750px) {
	.modal-content {
		padding: 10px;
	}

	.modal-content h2 {
		font-size: 20px;
	}

	.modal-panel-header {
		display: none;
	}

	.modal-panel-small-container {
		display: block;
	}

	.modal-table-container {
		height: 40vh;
		padding: 0;
	}

	.modal-multiselect .multiselect-half {
		padding: 5px;
		display: block;
		width: 100%;
	}

	.modal-multiselect .multiselect-half.left {
		border-right: none;
		border-bottom: 1px solid #ccc;
	}

	.modal-stats span {
		display: block;
	}

	.modal-summary button {
		display: block;
		margin: 5px 0px;
	}

	.modal-summary {
		left: 10px;
	}
}