.market-cardModal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 7;
}

.market-cardModal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
}

.market-cardModal-content {
	padding: 20px;
	box-sizing: border-box;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80vw;
	height: 80vh;
	background: #fff;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.market-cardModal-exit {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.market-cardModal-exit:hover {
	color: #d43d3d;
}

.market-cardModal-content h2 {
	text-align: center;
	width: 100%;
	font-size: 26px;
}

.market-cardModal-content h2.gold {
	color: var(--login-btn);
}

.market-cardModal-img-container {
	padding: 10px;
	box-sizing: border-box;
	vertical-align: top;
}

.market-cardModal-img {
	height: 55vh;
}

.market-cardModal-info-container {
	flex: 1;
	max-width: 100%;
}

.market-cardModal-panel-header {
	display: inline-block;
	margin: 8px 0px 0px 10px;
	padding: 6px 14px;
	cursor: pointer;
	transition: 0.5s;
	color: #888;
	border-radius: 15px;
}

.market-cardModal-panel-header:hover {
	color: #fff;
	background: var(--navbar-bg);
	opacity: 0.6;
}

.market-cardModal-panel-header.activePanel {
	color: var(--login-btn);
	background: var(--navbar-bg);
}

.market-cardModal-panel-small-container {
	display: none;
}

.market-cardModal-panel-small {
	font-size: 15px;
	padding: 4px;
	font-family: inherit;
	outline: none;
	margin-left: 5px;
}

.market-cardModal-multiselect .multiselect-half {
	width: 50%;
	display: inline-block;
	padding: 10px 20px;
	box-sizing: border-box;
}

.market-cardModal-multiselect .multiselect-half.left {
	border-right: 1px solid #ccc;
}

.market-cardModal-multiselect h4 {
	margin: 0.7em 0px;
	font-size: 18px;
	text-align: center;
}

.market-cardModal-multiselect p {
	margin: 0.7em 0px;
	font-size: 16px;
	text-align: center;
	white-space: normal;
}

.multiSelect-input {
	font-family: inherit;
	font-size: 16px;
	transition: 0.3s;
	width: 100%;
	border: none;
	border-bottom: 1px solid var(--navbar-bg);
	outline: none;
}

.multiSelect-input:focus {
	border-bottom: 1px solid var(--login-btn);
}

.market-cardModal-multiselect button {
	display: block;
	margin: 10px auto;
	padding: 8px 0px;
	width: 130px;
	font-weight: bold;
	outline: none;
	border-radius: 10px;
	background: var(--login-btn);
	border: none;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.3s;
}

.market-cardModal-multiselect button:hover {
	opacity: 1;
}

.market-cardModal-table-container {
	padding: 10px;
	box-sizing: border-box;
	height: 50vh;
	overflow-y: auto;
	position: relative;
}

.market-cardModal-table-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
	padding: 2px;
	cursor: pointer;
}

.market-cardModal-table-container::-webkit-scrollbar-track {
	background: #ddd;
	border-radius: 5px;
}

.market-cardModal-table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.market-cardModal-table {
	width: 100%;
	border-collapse: collapse;
}

.market-cardModal-table thead {
	background: var(--navbar-bg);
	color: var(--login-btn);
	font-weight: bold;
	font-size: 18px;
	border: none;
}

.market-cardModal-table th{
	padding: 7px 10px;
}

.market-cardModal-table-sortIcon {
	margin-left: 5px;
	font-size: 10px;
}

.market-cardModal-table tr {
	border-top: 1px solid #ccc;
}

.market-cardModal-table td{
	padding: 4px 7px;
	border: 1px solid #ddd;
}

.market-cardModal-table input {
	cursor: pointer;
}

.market-cardModal-table .center {
	text-align: center;
}

.market-cardModal-table .right {
	text-align: right;
}

.market-cardModal-stats span {
	font-weight: bold;
	display: inline-block;
	padding: 8px 15px;
	font-size: 17px;
}

.market-cardModal-table-container canvas {
	max-width: 100%;
}

.market-cardModal-addToCart {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
}

.market-cardModal-addToCart-btn {
	display: inline-block;
	margin-left: 15px;
	padding: 10px 10px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	background: var(--login-btn);
	color: #000;
	border: 2px solid var(--login-btn);
	border-radius: 10px;
	cursor: pointer;
}

.market-cardModal-addToCart-btn:focus {
	outline: none;
}

.market-cardModal-addToCart-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.market-cardModal-clearSelected-btn {
	display: inline-block;
	margin-left: 15px;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	border: 2px solid var(--login-btn);
	color: #000;
	background: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
}

.market-cardModal-clearSelected-btn:hover {
	background: var(--login-btn);
}

.market-cardModal-clearSelected-btn:focus {
	outline: none;
}

.market-cardModal-clearSelected-btn:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (max-width: 1100px) {
	.market-cardModal-img-container {
		display: none;
	}

	.market-cardModal-content {
		display: block;
	}
}

@media (max-width: 890px) {
	.market-cardModal-table-container {
		white-space: nowrap;
		overflow-x: auto;
		height: 40vh;
	}

	.market-cardModal-addToCart-btn {
		display: block;
		margin: 5px 0px;
	}

	.market-cardModal-clearSelected-btn {
		display: block;
		margin: 5px 0px;
	}

	.market-cardModal-addToCart {
		left: 10px;
	}
}

@media (max-width: 750px) {
	.market-cardModal-content h2 {
		font-size: 20px;
	}

	.market-cardModal-panel-header {
		display: none;
	}

	.market-cardModal-panel-small-container {
		display: block;
	}

	.market-cardModal-multiselect .multiselect-half {
		padding: 5px;
		display: block;
		width: 100%;
	}

	.market-cardModal-multiselect .multiselect-half.left {
		border-right: none;
		border-bottom: 1px solid #ccc;
	}

	.market-cardModal-stats span {
		display: block;
	}
}